.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;
  margin-left: 40px;
  margin-right: 40px;
}

.square {
  display: flex;
  margin-top: 100px;
  position: absolute;
  right: 40px;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #dcdcdc;
  border: none;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
  cursor: pointer;
}

.burger {
  display: flex;
  margin-top: 100px;
  position: absolute;
  right: 80px;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #dcdcdc;
  border: none;
  justify-content: space-evenly;
  flex-direction: column;
  transition: all 1s ease;
  cursor: pointer;
}

.bar {
  width: 20px;
  height: 4px;
  background-color: white;
  overflow: hidden;
  pointer-events: none;
}

.active {
  background-color: #9c9c9c;
}

.square::after {
  content: '+';
  font-size: 50px;
  margin-top: -8px;
  color: white;
  font-weight: 100;
  pointer-events: none;
}

.project {
  display: flex;
  align-items: center;
  margin-bottom: 120px;
  width: 100%;
}

.text {
  flex: 1;
  padding-right: 50px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-self: first baseline;
  position: sticky;
  margin-top: -20px;
  top: 78px;
}

.text h2 {
  font-weight: 400;
  font-size: 55px;
  font-family: var(--font-playfair);
  margin-top: 0;
  line-height: 55px;
  text-transform: uppercase;
}

.text p {
  font-weight: 300;
  font-size: 20px;
  text-align: justify;
}

.text a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
  font-size: calc(14px + 8 * ((100vw - 320px) / 1600));
  margin-top: 20px;
  width: fit-content;
}

.image {
  max-width: 55%;
  height: auto;
}

.odd .text {
  order: 2;
  padding-left: 50px;
}

.odd .image {
  order: 1;
}

.doubleWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

.doubleProjects {
  width: 728px;
  height: 700px;
  margin-bottom: 50px;
  position: relative;
}

.two {
  width: 728px;
  height: 488px;
  max-width: none;
  transition: all 1s ease;
  object-fit: cover;
}

.two:hover {
  filter: brightness(67%);
}

.two:hover ~ .description {
  transition: all 1s ease;
  opacity: 1;
}

.title {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  font-family: var(--font-playfair);
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: black;
}

.category {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #9c9c9c;
}

.description {
  color: white;
  font-weight: 300;
  font-size: 16px;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  position: absolute;
  top: 24%;

  opacity: 0;

  transition: all 1s ease;
  overflow: hidden;
  pointer-events: none;
}

@media (max-width: 1800px) {
  .wrapper {
    margin-right: 20px;
    margin-left: 20px;
    justify-content: space-around;
  }
  .doubleWrapper {
    margin-right: 0;
    margin-left: 0;
  }
  .title {
    height: 100px;
  }
  .text {
    padding-right: 25px;
  }
  .text h2 {
    margin-bottom: 15px;
    font-size: 40px;
    line-height: normal;
  }
  .text p {
    font-size: 19px;
    margin-bottom: 0;
  }
}

@media (max-width: 1200px) {
  
}