.banner {
  border: 40px solid #232323;

  background-image: url('../../../public/images/contacts/contactsbanner.jpeg');
  background-size: 300%;
  background-repeat: no-repeat;
  background-position-y: 65%;
  background-position-x: center;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  margin-top: 80px;
}

.banner p {
  font-family: var(--font-playfair);
  font-weight: 400;
  font-size: 48px;
  margin: 0;
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
  color: white;
}
