.wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    transition: all 0.5s ease ;
}

.dark {
    background-color: #232323;
}

.invert {
    filter: invert(1);
}

.white {
    color: white;
}

.height {
    padding-bottom: 100px;
    transition: all 0.5s ease ;
}

.navigation {
    text-decoration: none;
    font-weight: 300;
    font-size: calc(12px + 8 * ((100vw - 320px) / 1600));
    color: black;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.imageWrapper {
    padding: 10px;
}

.navigation:nth-last-child(1) {
    margin-right: 40px;
}

.nav p {
    margin-left: 50%;
    padding: 0;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.nav a {
    color: rgb(0, 0, 0);
}

.dropdownMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 52%;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}

.open {
    top: 41px;
    transition: all 0.5s ease;
    visibility: visible;
    opacity: 1;
}


.dropdownLink {
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: calc(12px + 8 * ((100vw - 320px) / 1600));
}


