.wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: all 0.5s ease ;
    backdrop-filter: blur(7px);
    background: hsla(0, 0%, 100%, .5);
    background-blend-mode: multiply;
}

.dark {
    background-color: #232323;
}

.invert {
    filter: invert(1);
}

.white {
    color: white;
}

.height {
    padding-bottom: 110px;
    transition: all 0.5s ease ;
}

.navigation {
    text-decoration: none;
    font-weight: 300;
    font-size: calc(12px + 8 * ((100vw - 320px) / 1600));
    color: black;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.imageWrapper {
    padding: 10px;
}

.navigation:nth-last-child(1) {
    margin-right: 40px;
}

.navigation:nth-child(1) {
    margin-left: 50%;
    padding: 0;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.nav a {
    color: rgb(0, 0, 0);
}

.nav a:hover {
    border-bottom: 1px solid black;
}


