.wrapper {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #232323;
    padding-right: 20vw;
    padding-left: 20vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block {
    /* height: 451px;
    width: 338px; */
    height: auto;
    width: 30%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.mobileBlock {
    display: none;
    height: auto;
    width: 48%;
    margin-top: 30px;
    /* display: flex; */
    flex-direction: column;
}

.mobileBlock img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    transition: all 1s ease;
}

.block a {
    margin: 0;
    font-weight: 400;
    font-family: var(--font-playfair);
    font-size: 38px;
    text-align: justify;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    width: fit-content;
}

.block p {
    font-weight: 300;
    font-size: 20px;
    /* text-align: justify; */
    margin: 0;
    height: 100%;
    align-content: flex-end;
    color: white;
}

.centered {
    align-content: start !important;
    margin-top: 20px !important;
}

.block img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    transition: all 1s ease;
}

.block img:hover {
    filter: grayscale(0);
}

.last {
    align-self: end;
    text-align: right !important;
}

@media screen and (max-width: 1700px) {
    .wrapper {
        padding-right: 16vw;
        padding-left: 16vw;
    }
    .block a {
        font-size: 33px;
    }
}

@media screen and (max-width: 1450px) {
    .wrapper {
        padding-right: 14vw;
        padding-left: 14vw;
    }
    .block a {
        font-size: 27px;
    }
    .block p {
        font-size: 16px;
    }
}

@media screen and (max-width: 1250px) {
    .wrapper {
        padding-right: 13vw;
        padding-left: 13vw;
        padding-top: 150px;
        padding-bottom: 150px;
    }
}

@media screen and (max-width: 961px) {
    .wrapper {
        padding-right: 5vw;
        padding-left: 5vw;
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .block a {
        font-size: 24px;
    }
    .block p {
        font-size: 15px;
    }
}

@media screen and (max-width: 961px) {
    .wrapper {
        padding-right: 2vw;
        padding-left: 2vw;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .block a {
        font-size: 23px;
    }
    .block p {
        font-size: 14px;
    }
}

@media screen and (max-width: 650px) {
    .wrapper {
        padding-right: 3vw;
        padding-left: 3vw;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .block a {
        font-size: 20px;
    }
    .block p {
        font-size: 12px;
    }
    .block {
        width: 48%;
    }
    .mobileBlock {
        display: flex;
    }
}