.banner {
  font-family: var(--font-playfair);
  color: white;
  font-weight: 400;
  font-size: 40px;

  width: calc(100% - 40px);
  height: 750px;
  border: 20px solid #232323;
  background-image: url(https://s3-alpha-sig.figma.com/img/718f/e26b/34bcd38f09aff95bada2300c1298ae93?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=KXvSMNylZnx9OCRBT8QtOnQ6RojkLf-OaWI15zZ53ysgfymk9DmgAbVzfk44d0YT4H8C~IGUTVdWb-mhbDwLrjT1KxjS07~dAwEWn0kdZfErAOkK7xVTNU53pbIF8MZzQya-Ak7jfDIs~X~7uATq4WzP~eLWzE6MpNHDVWwoi5n-ecQB~Vy26WfaiLq8hrSonguOENgsTNvV-n0Q-g4FRjM7wqv1ONa~M0EFVXr-wDFxrGVQRFMt51Av9rg9gFsMkgwGNejy8gMoVp7JxyoDn6GnJUFkjAqRWMPV-sbxwVta1mIBuvBAoRKpJOeIz-VvtwLFnzgaIjtdpXfjWxb8Kg__);
  background-position: center;
  background-size: 222%;

  display: flex;
  align-items: center;
}

.banner p {
  margin: 0 50px;
  text-align: justify;
}

.galleryContainer img {
  display: block;
  margin-bottom: 10px;
}

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 100px);
  height: 110vh;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #232323;
  padding-top: 50px;
}

.galleryContainer img {

}

.descriptionSection {
  width: 50%;
  padding-right: 20px;
}

.descriptionSection h1 {
  font-weight: 400;
  font-size: 80px;
  font-family: var(--font-playfair);
  margin: 0;
  color: white;
  height: 300px;
}

.descriptionSection p  {
  font-weight: 300;
  font-size: 16px;
  margin-top: 150px;
  text-align: justify;
  color: white;
  height: 130px;
}

.bottomSection {
  width: 100%;
}

.description {
  font-size: 16px;
  line-height: 1.5;
}

.smallImagesContainer {
  display: flex;
  flex-wrap: wrap;
}

.smallImage {
  margin-right: 10px;
  cursor: pointer;
}

.visible {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.smallImage:last-child {
  margin-right: 0;
}

.highlighted {
  filter: grayscale(1);
  transition: all 0.5s ease;
}

.mainImage {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.visible {
  opacity: 1;
}

.title,
.description {
  opacity: 0;
  transition: opacity 0.25s ease;
}

.visible {
  opacity: 1;
}

.nav {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: calc(14px + 8 * ((100vw - 320px) / 1600));
  cursor: pointer;
}